<html>
<link rel="stylesheet" href="/lti//style.css" />
<p><strong>Link This Assignment to Github</strong></p>
<p>Current URL:
    {#if inviteUrl ne ""}
    {inviteUrl}
    {#else}
    Not Linked
    {/if}</p>
<form method="post" action="/lti/link">
    <p><label>Invite URL: <input type="text" name="invitation_url" placeholder="{inviteUrl}"></label></p>
    <input type="hidden" name="assignment_id" value="{resourceId}">
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</html>